#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

form,
.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-login {
  margin-top: 2rem;
}

form > * + *,
.social-login > * + * {
  margin-top: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.submit-btn {
  background-color: #0043ff;
  min-width: 261px;
}

.profile-photo {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
